# prod dependencies
pre-commit==2.18.1
sqlalchemy==1.4.35
alembic==1.7.7
flask==2.1.2
psycopg2-binary==2.9.3
httpx==0.22.0
pydantic[dotenv,email]==1.9.0

# dev dependencies
pytest==7.1.2
pytest-cov==3.0.0
